@CHARSET "UTF-8";

* {
    margin: 0;
}

body {
	height: 100%;
	background-color: transparent;
	line-height: unset;
	border-top: 6px solid #3a3a3a;
}

#mainview{
	height: calc(100% - 30px);
	width: 95%;
	margin: 0 auto;
	display: block;
	padding-top: 51px;
}

.all_page{
	height: 100%;
}

.footer{
	padding: 5px 0px 10px 0px;
	bottom: 0px;
	width: 100%;
	display: flex;
}

.st-sort-ascent:before{
    content: '\25B2';
}

.st-sort-descent:before{
    content: '\25BC';
}

.smart_table_withclick{
	cursor: pointer;
}

.titulo_grafica{
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}

.deuda_tab_1{
	font-weight: bold;
}

.deuda_tab_2{
	padding-left: 10px;
	font-weight: bold;
}

.deuda_tab_3{
	padding-left: 20px;
	font-weight: bold;
}

.deuda_tab_4{
	padding-left: 30px;
	font-weight: bold;
}

.deuda_tab_5{
	padding-left: 40px;
}



/*Aqui main page*/

.button_front{
	font-size: 40px;
	font-weight: bold;
}


.button_front_money{
	font-size: 10px;
	white-space: nowrap;
	font-weight: normal;
}

.button_front_main{
	width: 150px;
	cursor: pointer;
	color: black;
	opacity: 0.5;
}

.button_front_main:hover{
	width: 150px;
	cursor: pointer;
	opacity: 1;
}

.button_front_fisico{
	color: #38669a;
}

.button_front_presupuestario{
	color: #228B22;
}

.graphics_footnote{
	text-align: center;
	font-size: 10px;
}

.total_budget{
	text-align: center;
	font-size: 40px;
	font-weight: bold;
}

.cuerpotabla{
			overflow-y: hidden;
			overflow-x: scroll;
		    display: inline-block;
		    font-size: 11px;
		}

.sticky-col{
	
}

.chart-legend, .line-legend{
    list-style-type: none;
    margin-top: 5px;
    text-align: center;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    padding-left: 0;
}

.img-rounded {
    border-radius: 3px;
}

.carousel-control.left {
	background-image: url("");
}

.carousel-control.right {
	background-image: url("");
}

#foot {
	background-color: #222222;
	height: 80px;
	color: #FFFFFF;
	padding: 10px 0px 10px 0px;
	text-align: center;
}
#head {
	background-color: #222222;
	color: #FFFFFF;
	padding: 10px 0px 10px 0px;
	text-align: center;
	font-weight: bold;
}

.buttons-container {
			background: #fff;
			overflow: hidden;
			width: 80%;
			margin: 0 auto;
}

.slide-button, .slide-button:hover {
				background: #f8f8f8;
				border-bottom: 1px solid #e9e9e9;
				border-top: 4px solid #dfdfdf;
				-webkit-box-shadow: 1px 0 0 #fff inset, 0 1px 0 0 #fff inset;
				   -moz-box-shadow: 1px 0 0 #fff inset, 0 1px 0 0 #fff inset;
						box-shadow: 1px 0 0 #fff inset, 0 1px 0 0 #fff inset;
				color: #3a3a3a;
				cursor: pointer;
				display: block;
				float: left;
				font-size: 20px;
				overflow: hidden;
				padding: 20px;
				text-align: left;
				text-decoration: none;
				-webkit-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
				   -moz-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
					-ms-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
					 -o-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
						transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
				width: 100%;
			}

.slide-button.active {
					background: #f0f0f0;
					color: #f15a23;
					border-top: 4px solid #f15a23;
				}

.slide-button .dropcap {
					background: #3a3a3a;
					-webkit-border-radius: 19px;
					   -moz-border-radius: 19px;
							border-radius: 19px;
					color: #fff;
					font-weight: 700;
					height: 38px;
					width: 38px;
				}

.slide-button .description {
    color: #959393;
    display: block;
    font-size: 11px;
    line-height: 12px;
}

.slide-button div{
	background:transparent;
	border:0;
	font-size:100%;
	margin:0;
	outline:0;
	padding:0;
	vertical-align:baseline
}

.dropcap {
    background: #eaeaea;
    color: #777;
    display: inline-block;
    float: left;
    font-family: 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-size: 23px;
    font-weight: 600;
    height: 36px;
    line-height: 36px;
    margin: 0 7px 0 0;
    text-align: center;
    width: 36px;
}

	/* Estilo del menú */

#main-nav { float: left; }

		#main-nav > ul { margin: -6px 0 0; }

			#main-nav li {
				list-style: none;
				float: left;
				margin: 0;
				position: relative;
			}

				#main-nav a {
					border-bottom: 1px solid transparent;
					border-top: 6px solid transparent;
					color: #3a3a3a;
					font-family: 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
					font-size: 12px;
					font-weight: 800;
					display: block;
					letter-spacing: -0.08px;
					padding: 45px 25px 40px;
					position: relative;
					text-align: center;
					text-transform: uppercase;
					z-index: 98;
				}

				.ie7 #main-nav a { padding: 33px 20px; }

				#main-nav a:after {
					color: #aeaeae;
					content: attr(data-description);
					font-size: 11px;
					font-style: italic;
					font-weight: 400;
					display: block;
					line-height: 0;
					margin: 3px 0 -3px;
					text-align: center;
					text-transform: lowercase;
				}

					#main-nav a:hover, #main-nav .hover > a, #main-nav .current > a {
						border-bottom-color: #f15a23;
						border-top-color: #f15a23;
						color: #f15a23;
					}

					#main-nav a:hover, #main-nav .hover > a, #main-nav .current > a { background: #f8f8f8; }

					.not-ie #main-nav .current:after {
					    background: #f15a23;
					    bottom: -2.5px;
					    content: '';
					    left: 50%;
					    display: block;
					    height: 5px;
					    margin: 0 0 0 -2.5px;
					    -webkit-transform: rotate(45deg);
					    -moz-transform: rotate(45deg);
					    -ms-transform: rotate(45deg);
					    -o-transform: rotate(45deg);
					    transform: rotate(45deg);
					    position: absolute;
					    width: 5px;
					}

				/* Dropdown */

				.no-js #main-nav li:hover > ul {
					display: block;
					top: 92px;
				}

				#main-nav ul ul {
					background: #3a3a3a;
					-webkit-box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, .2);
					   -moz-box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, .2);
							box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, .2);
					display: none;
					left: 0;
					padding: 0;
					position: absolute;
					top: 92px;
					width: 200px;
					z-index: 99;
				}

					#main-nav ul ul li { float: none; }

						#main-nav ul ul a {
							border: 0;
							border-bottom: 1px solid #252525;
							border-top: 1px solid #4c4c4c;
							color: #fff;
							display: block;
							font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
							font-size: 11px;
							letter-spacing: 0;
							font-weight: 400;
							padding: 8px 20px !important;
							text-align: left;
							text-transform: none;
						}

							#main-nav ul ul a:hover, #main-nav ul ul .hover > a, #main-nav ul ul .current > a, #main-nav ul ul .current > a:hover {
								background: #f15a23;
								color: #fff;
							}

					.not-ie #main-nav ul ul .current:after { display: none; }

				/* Sub Dropdown */

				#main-nav ul ul ul {
					left: 200px !important;
					top: 0 !important;
				}

		/* Responsive Nav */

		#main-nav .responsive-nav {
			background-image: url(/assets/img/responsive-nav-bg.png);
			background-position: center right;
			background-repeat: no-repeat;
			display: none;
			width: 100%;
		}




/*----------------------------
	The Footer
-----------------------------*/


/* ---------------------------------------------------------------------- */
/*	Footer
/* ---------------------------------------------------------------------- */

	/* -------------------------------------------------- */
	/*	Wrap
	/* -------------------------------------------------- */

	.container { width: 90%; }


#footer {
	background: #3a3a3a;
	color: #868686;
	margin-top: 80px;
	padding: 35px 0 30px;
	position: relative;
}

.not-ie #footer:before {
	background: #fff;
	content: '';
	left: 50%;
	display: block;
	height: 15px;
	margin: 0 0 0 -7.5px;
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		 -o-transform: rotate(45deg);
			transform: rotate(45deg);
	position: absolute;
	top: -8px;
	width: 15px;
}

	x:-o-prefocus, .not-ie #footer:before { display: none; } /* Fix for Opera */

	#footer, #footer a,
	#footer-bottom, #footer-bottom a { color: #868686; }

		#footer a:hover,
		#footer-bottom a:hover { color: #f15a23; }

	#footer .title {
		border-bottom: 1px solid #4b4b4b;
		display: block;
		font-size: 10px;
		margin: 0 0 12px;
		padding: 0 0 12px;
		text-transform: uppercase;
	}

	/* -------------------------------------------------- */
	/*	Footer Navigation
	/* -------------------------------------------------- */

	#footer-nav {
		border-bottom: 1px solid #4b4b4b;
		margin: 0 0 12px;
		padding: 0 0 12px;
	}

		#footer-nav ul { margin: 0; }

			#footer-nav li {
				background: none;
				border: none;
				display: inline-block;
				list-style: none;
				margin: 0 -3px 0 0;
			}
			
			.ie7 #footer-nav li { display: inline; }

				 #footer-nav li a {
					border-left: 1px solid #484848;
					font-size: 10px;
					display: block;
					padding: 0 15px;
					text-transform: uppercase;
				}
			
				#footer-nav li:first-child a {
					border-left: none;
					padding-left: 0;
				}

				#footer-nav li:last-child a { padding-right: 0; }

	/* -------------------------------------------------- */
	/*	Contact Info
	/* -------------------------------------------------- */

	#footer .contact-info {}

	.contact-info { margin: 0; }

		.contact-info li {
			float: left;
			list-style: none;
			margin: 0 0 5px 24px;
			padding: 0 0 0 24px;
		}

		.contact-info li:first-child { margin-left: 0; }

		.contact-info .address { background: url(/assets/img/icon-address.png) no-repeat 0 0; }

		.contact-info .phone { background: url(/assets/img/icon-phone.png) no-repeat 0 1px; }

		.contact-info .email { background: url(/assets/img/icon-email-2.png) no-repeat 0 4px; }

	/* -------------------------------------------------- */
	/*	Social Links
	/* -------------------------------------------------- */

	.social-links { margin: 0; }

		.social-links li {
			display: inline-block;
			list-style: none;
			margin: 0 0 10px 15px;
			text-indent: -9999px;
		}

		.ie7 .social-links li {
			display: inline;
			font-size: 0;
			text-indent: 0;
		}
			
		.social-links li:nth-child(6n+1) { margin-left: 0; }

		.social-links li:nth-child(6n) { margin-right: 15px; }

		.social-links li:last-child { margin-right: 0; }

			.social-links a {
				background-repeat: no-repeat;
				background-position: 0 -16px;
				display: block;
				height: 16px;
				-webkit-transition: all 0.2s ease-out;
				   -moz-transition: all 0.2s ease-out;
					 -o-transition: all 0.2s ease-out;
					-ms-transition: all 0.2s ease-out;
						transition: all 0.2s ease-out;
				width: 20px;
			}

			.social-links li.behance a { background-image: url(/assets/img/icon-behance.png); }

			.social-links li.delicious a { background-image: url(/assets/img/icon-delicious.png);
				background-position: 0 -14px;
				height: 14px;
			}

			.social-links li.deviantart a { background-image: url(/assets/img/icon-deviantart.png); }

			.social-links li.digg a {
				background-image: url(/assets/img/icon-digg.png);
				background-position: 0 -14px;
				height: 14px;
			}

			.social-links li.dribbble a { background-image: url(/assets/img/icon-dribbble.png); }

			.social-links li.dropbox a {
				background-image: url(/assets/img/icon-dropbox.png);
				background-position: 0 -15px;
				height: 15px;
			}

			.social-links li.email a { background-image: url(/assets/img/icon-email.png); }

			.social-links li.facebook a { background-image: url(/assets/img/icon-facebook.png); }

			.social-links li.flickr a { background-image: url(/assets/img/icon-flickr.png); }

			.social-links li.forrst a { background-image: url(/assets/img/icon-forrst.png); }


			.social-links li.github a { background-image: url(/assets/img/icon-github.png); }

			.social-links li.google a { background-image: url(/assets/img/icon-google.png); }

			.social-links li.googleplus a { background-image: url(/assets/img/icon-googleplus.png); }

			.social-links li.ichat a {
				background-image: url(/assets/img/icon-ichat.png);
				background-position: 0 -15px;
				height: 15px;
			}

			.social-links li.lastfm a {
				background-image: url(/assets/img/icon-lastfm.png);
				background-position: 0 -15px;
				height: 15px;
			}

			.social-links li.linkedin a { background-image: url(/assets/img/icon-linkedin.png); }

			.social-links li.mobypicture a { background-image: url(/assets/img/icon-mobypicture.png); }

			.social-links li.myspace a { background-image: url(/assets/img/icon-myspace.png); }
				
			.social-links li.picasa a { background-image: url(/assets/img/icon-picasa.png); }

			.social-links li.plixi a { background-image: url(/assets/img/icon-plixi.png); }

			.social-links li.rss a { background-image: url(/assets/img/icon-rss.png); }

			.social-links li.skype a { background-image: url(/assets/img/icon-skype.png); }

			.social-links li.stumbleupon a {
				background-image: url(/assets/img/icon-stumbleupon.png);
				background-position: 0 -17px;
				height: 17px;
			}

			.social-links li.tumblr a {
				background-image: url(/assets/img/icon-tumblr.png);
				background-position: 0 -15px;
				height: 15px;
			}

			.social-links li.twitter a {
				background-image: url(/assets/img/icon-twitter.png);
				background-position: 0 -15px;
				height: 15px;
				width: 21px;
			}

			.social-links li.vimeo a {
				background-image: url(/assets/img/icon-vimeo.png);
				background-position: 0 -15px;
				height: 15px;
			}

			.social-links li.youtube a {
				background-image: url(/assets/img/icon-youtube.png);
				background-position: 0 -15px;
				height: 15px;
			}

			.social-links li a:hover { background-position: 0 0; }
			
	/* -------------------------------------------------- */
	/*	Misc Elements
	/* -------------------------------------------------- */

	#footer .button:hover, #footer input[type="submit"]:hover #footer input[type="reset"]:hover, #footer button:hover {
		background: #ddd;
		color: #3a3a3a;
	}

	#footer .button.no-bg { color: #ddd; }

	#footer .button .arrow { background-color: #3a3a3a; }

	#footer blockquote { background-color: #464646;}

		#footer blockquote.simple {
			background: none;
			border-left-color: #484848;
			color: #868686;
		}

	#footer .infobox {
		background: #464646;
		border-color: #363636;
	}

	#footer .infobox, #footer .infobox * { color: #868686; }

/* ---------------------------------------------------------------------- */
/*	Footer Bottom
/* ---------------------------------------------------------------------- */

#footer-bottom {
	background: #303030;
	line-height: 17px;
	padding: 12px 0;
}

	#footer-bottom ul { margin: 0; }

		#footer-bottom li {
			float: left;
			list-style: none;
			margin: 0;
		}
			
			 #footer-bottom li:first-child { margin-right: 15px; }
			
			#footer-bottom li a {
				border-left: 1px solid #484848;
				display: block;
				padding: 0 15px;
			}

			 #footer-bottom li:first-child a {
				border-left: none;
				padding-left: 0;
			}

				#footer-bottom li:last-child a { padding-right: 0; }
				
				
	
		/* ---------------------------------------- */
		/*	Columns
		/* ---------------------------------------- */

		.one-half { width: 25%; }

			.one-third { width: 20%; }

		.two-third { width: 40%; }

		.one-fourth { width: 10%; }

		.three-fourth { width: 100%; }
			
/*---------smart-tree-table row---------*/
st-tree-caret,i.fa-caret-right:before {font-size: 15px; content: "+"; font-weight: 600;}
st-tree-caret,i.fa-caret-down:before {font-size: 15px; content:"-"; font-weight: 600;}